@import url("http://fonts.cdnfonts.com/css/monofonto");

.quotewrapper {
  display: flex;
  justify-content: center;
}

.quoteContainer {
  --angle: 0deg;
  width: 40%;
  max-height: 25vh;
  overflow-y: scroll;
  border: 0.2rem solid;
  border-image: linear-gradient(var(--angle), #00e600, #006600, #0d0d0d) 1;
  animation: 5s rotate linear infinite;
  padding: 2px 2px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.quote-text {
  font-size: 1rem;
}
.long-quote {
  font-size: 0.5rem;
}

.quote-author {
  margin-top: 5px;
  font-size: 0.7rem;
  font-weight: 400;
  font-style: italic;
}
