.FirstTab p,
.SecondTab p {
  font-size: 2rem;
  text-align: center;
}
label {
  vertical-align: middle;
}

.inputbox {
  width: 100%;
  margin-bottom: 5px;
}

.icon {
  padding: 5px;
  vertical-align: middle;
  position: absolute;
}
